bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

*/appsettings.Secret.yml
**/discord.xml

*.user

node_modules


.idea/SS14.Admin.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
