
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.ico" asp-append-version="true"/>
    <!--<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="/css/output.css"/>
    <link rel="stylesheet" href="/lib/remixicon/remixicon.css">
    <link rel="stylesheet" href="SS14.Admin.styles.css"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>
<body class="min-h-screen">
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script type="module" src="Components/Shared/Shortcuts/ShortcutHandler.razor.js"></script>
    <script src="js/dark-mode.js"></script>
</body>
</html>
