@inject NavigationManager Navigation

<div class=" md:flex gap-1">
    <NavLink href="/" class="hover:text-rose-600">SS14.Admin</NavLink>
    @if (_name != null)
    {
        <i class="ri-arrow-right-s-line"></i>
        <span class="text-neutral-600 cursor-default">@_name</span>
    }
</div>

@code
{

    // This is shit and I don't care
    private readonly Dictionary<string, string> _crumbNames = new()
    {
        { "bans", "Bans"},
        { "characters", "Characters"},
        { "connections", "Connections"},
        { "logs", "Logs"},
        { "players", "Players"},
        { "role_bans", "Role Bans"},
        { "whitelist", "Whitelist"},
        { "settings", "Settings"}
    };

    private string? _name;
    private string? _url;

    protected override void OnInitialized()
    {
        // TODO: Deal with nested pages
        _url = Navigation.ToBaseRelativePath(Navigation.Uri);
        _name = _crumbNames.GetValueOrDefault(_url);
    }

}
