<nav class="basis-48 px-2 py-4 overflow-auto">
    <ul class="text-neutral-800">
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.All" href="/" class="nav-link">
            <i class="ri-home-2-fill"></i> Dashboard
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/bans" class="nav-link">
            <i class="ri-pages-fill"></i> Bans
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/role_bans" class="nav-link">
            <i class="ri-pages-fill"></i> Role Bans
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/players" class="nav-link">
            <i class="ri-pages-fill"></i> Players
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/connections" class="nav-link">
            <i class="ri-pages-fill"></i> Connections
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/logs" class="nav-link">
            <i class="ri-pages-fill"></i> Logs
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/characters" class="nav-link">
            <i class="ri-pages-fill"></i> Characters
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/whitelist" class="nav-link">
            <i class="ri-pages-fill"></i> Whitelist
        </NavLink></li>
        <li><NavLink ActiveClass="active-nav-link" Match="NavLinkMatch.Prefix" href="/settings" class="nav-link">
            <i class="ri-settings-5-fill"></i> Settings
        </NavLink></li>
    </ul>
</nav>
@code {

}
