@import url(./quickgrid.css);
@import url(./theme.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active-nav-link {
        @apply !text-rose-600 dark:!text-rose-600
    }

    .nav-link {
        @apply p-2 block rounded dark:text-white dark:hover:bg-stone-800 hover:bg-stone-200 hover:text-rose-600 dark:hover:text-rose-600
    }

    .button {
        @apply mx-2 p-2 rounded-md
    }

    .button-primary {
        @apply bg-stone-600 hover:bg-stone-500 text-white
    }

    .focus-none
    {
        @apply focus:outline-none focus:ring-0 focus-visible:ring-0 focus-visible:outline-none
    }
}



body
{
    --header-height: 4rem;
}

html .prose
{
    max-width: 85ch;
}

.prose h2
{
    border-bottom: solid 2px black;
}

.prose h3
{
    border-bottom: solid 1px #374151;
}

/*.focus-none:focus, .focus-none:focus-visible
{
    outline-width: 0 !important;
    border-color: transparent !important;
    box-shadow: none !important;
}*/

.focus-outline:focus-within
{
    outline: 2px solid transparent;
    outline-width: 2px;
    outline-offset: 2px;
    /*noinspection CssUnresolvedCustomProperty*/
    --tw-ring-inset: var(--tw-empty, 0);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb !important;
}

.header-height
{
    height: var(--header-height);
}

.header-height-top
{
    top: var(--header-height);
}

.h-full-content
{
    height: calc(100vh - var(--header-height));
}

.h-half-content
{
    height: calc(50vh - var(--header-height));
}

#menu-toggle
{
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
}

#menu-toggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menu-toggle input:checked ~ .icon-menu
{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>');
}

#menu
{
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu-toggle input:checked ~ ul
{
    transform: none;
}

.reset-border-top
{
    border-style: none;
    border-top: solid 1px silver;
}

.sticky-pagination
{
    position: sticky;
    bottom: -34px;
    background-color: white;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
