/* This file contains the global theme, e.g. the colors and fonts that get used throughout the site */

/* Colors */

:root
{
    --color-severity-medium: #F8C630;
    --color-severity-high: #FA8420;
    --color-severity-extreme: #C21906;
}

@layer base {
    p, span { @apply text-primary-1; }
    a { @apply text-link-1; }
    h1, h2, h3, h4, h5, h6 { @apply text-primary-1; }
    label { @apply text-primary-1 font-bold text-xs; }
    input, textarea, select { @apply text-primary-1 bg-secondary-1 p-1; }
    button { @apply text-primary-1 bg-primary-1 p-1; }
}

@layer components {
    .bg-primary-1 {
        @apply bg-white dark:bg-stone-800;
    }

    .bg-secondary-1
    {
        @apply bg-stone-100 dark:bg-stone-900;
    }

    .text-primary-1
    {
        @apply text-black dark:text-white;
    }

    .text-muted-1
    {
        @apply text-neutral-600 dark:text-neutral-400;
    }

    .text-link-1
    {
        @apply text-black hover:text-rose-600 dark:text-white dark:hover:text-rose-600;
    }

    .text-impact-severity-low
    {
        @apply text-muted-1;
    }

    .text-impact-severity-medium
    {
        @apply text-severity-medium dark:text-severity-medium;
    }

    .text-impact-severity-high
    {
        @apply text-severity-high dark:text-severity-high;
    }

    .text-impact-severity-extreme
    {
        @apply text-severity-extreme dark:text-severity-extreme;
    }
}
